.pollution-description-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pollution-description-top{
    white-space: pre-wrap;
    font-size: xx-large;
    margin-bottom: 10px;
}
.pollution-description-bot{
    margin-bottom: 20px;
    font-size: large;
}